.primary_button {
  display: inline-block;
  color: var(--color-light);
  letter-spacing: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 46px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image: linear-gradient(to right, var(--color-purple) 0%, #854fee 100%), radial-gradient(circle at top left, var(--color-purple), #854fee);
  border: double 2px transparent;
  box-shadow: 0px 10px 30px rgb(118 85 225 / 30%);

  span {
    padding: 0 42px;
  }
}